.banner {
  width: 100%;
  height: 56vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner::before {
  content: "";
  background: linear-gradient(to top, #000, transparent);
  position: absolute;
  left: 0;
  height: 56vh;
  width: 100%;
}
.banner-text-area {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 2rem;
}
.banner-text-area h1 {
  z-index: 2;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
}
.banner-text-area p {
  z-index: 2;
}
