@import url("https://fonts.googleapis.com/css2?family=Kranky&display=swap");
.movie-card {
  width: 350px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
  font-family: "Orbit", sans-serif;
}
.movie-card:hover {
  transform: scale(1.2) translateZ(20px);
  z-index: 2;
}
.overlay {
  width: 400px;
  height: 300px;
  display: flex;
  gap: 20px;
  padding: 10px;
  background: #191919;
  opacity: 0;
  transition: all 0.5s;
  color: white;
  font-weight: bold;
  overflow-wrap: break-word;
  border-radius: 10px;
}
.overlay:hover {
  opacity: 1;
}
.movie-poster {
  width: 240px;
  height: 280px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.movie-text {
  width: 160px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.movie-text > h1 {
  width: 160px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Orbit", sans-serif;
}
.badge {
  margin-right: 5px;
  font-family: "Orbit", sans-serif;
}

@media screen and (max-width: 991px) {
  .movie-card {
    width: 260px;
    height: 420px;
  }
  .movie-card:hover {
    transform: scale(1.1) translateZ(20px);
    z-index: 2;
  }
  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 420px;
    display: flex;
    gap: 20px;
    padding: 10px;
    background: #191919;
    opacity: 0;
    transition: all 0.5s;
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;
    border-radius: 10px;
  }
  .overlay:hover {
    opacity: 1;
  }
  .movie-poster {
    width: 210px;
    height: 270px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .movie-text {
    width: 210px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .movie-text > h1 {
    width: 210px;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }
  .card-genre {
    width: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .badge {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .movie-text > div {
    font-size: 12px;
  }
}
