/* appLayout 관련 CSS */
.appLayout {
  width: 100%;
  z-index: 10;
  background: #000;
  color: #fff;
}

.navbar {
  background-color: #000 !important;
}

.link {
  color: #fff !important;
}

.logoImg {
  width: 120px;
  height: 30px;
  background: url(/public/img/SUUMOVIE.svg) center/contain no-repeat;
}

/* 반응형 CSS */
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .footer {
    padding: 10px;
  }
}

.footer {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border-top: 1px solid gray;
}
.footer > div {
  width: 300px;
  height: 100px;
  background: url(/public/img/SUUMOVIE.svg) center/contain no-repeat;
}
