.RecommendMovie-wrap {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  display: grid;
  justify-content: start;
  align-items: center;
  grid-template-columns: repeat(4, auto);
  gap: 15px;
  z-index: 50;
  cursor: pointer;
}

.RecommendMovie-wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

/* 미디어 쿼리를 사용하여 작은 화면 크기에 대응 */
@media (max-width: 1040px) {
  .RecommendMovie-wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 500px) {
  .RecommendMovie-wrap {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
}
