.Reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 50px;
}
.review_wrap {
  width: 100%;
  height: 100%;
  padding: 30px;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.2s;
}
.review_wrap:hover {
  background: rgba(255, 255, 255, 0.1);
}
.review_wrap h3 {
  font-size: 20px;
}
.review_wrap p {
  font-size: 14px;
}
.review-btn {
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  color: #fff;
}
